<div class="container">
    <div class="row">
        SEARCH IN PROGRESS
    </div>
    <div class="row">
        <h1 class="popular-products-title">
            POPULAR PRODUCTS
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{product-component}}
        </div>
        <div class="col-md-4">
            {{product-component}}
        </div>
        <div class="col-md-4">
            {{product-component}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{product-component}}
        </div>
        <div class="col-md-4">
            {{product-component}}
        </div>
        <div class="col-md-4">
            {{product-component}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{product-component}}
        </div>
        <div class="col-md-4">
            {{product-component}}
        </div>
        <div class="col-md-4">
            {{product-component}}
        </div>
    </div>
    <div class="row">
        <div class="pagination">

        </div>
    </div>
    <div class="row">
        <h1 class="popular-products-title">
            POPULAR SELLERS
        </h1>
    </div>
</div>
